@font-face {
    font-family: '3dumbregular';
    src: font_url('3dumb-webfont.woff2') format('woff2'),
         font_url('3dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}