// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
    justify-content: center;
}

.show-image {
    max-width: 100%;
    display: block;
    max-height: 30vh;
}

.comments, .photos {
    margin-top: 5vh;
}

.index-photo {
    float: left;
    max-width: 35%;
    margin-right: 2%;
}